//Mixin pour la média-queries de la version desktop
@mixin responsive-desktop {
    @media screen and (min-width : $break-desktop){
        @content;
    }
}

// Mixin pour les fonts
@mixin mondayCoffee {
    font-family: 'mondayCoffee';
    letter-spacing: 2px;
}

@mixin ichikaru {
    font-family: 'ichikaru';
    letter-spacing: 3px;
}