main{
    background-color: bisque;
    padding: 2em 0;
    #card{
        
        article{
            // border: 1px solid $primary-dark;
            margin: 2em auto;
            width: 50%;
            text-align: center;
            display: grid;
            grid-template-rows: 3fr 1fr 1fr;
            box-shadow: 0 0 5px $primary-dark ;
            transition: 1.2s;
            border-radius: 1em;
                .card-header{
                    // object-fit: cover;
                    .dishes-img{
                        width: 7em;
                        &:hover{
                            width: 12em;
                            transition: 1.5s;
                        } 
                    }   
                }
                .card-body{
                    .title-card{
                        margin: 0 0 0 0.5em;
                    }
                    .price{
                        margin: 0.5em;
                    }
                }
                .card-footer{
                    margin: auto;
                }

            &:hover{
            box-shadow: 0 0 15px $primary-dark;
            
        }
        }
    }
}