main{
    #card{
        display: flex;
        flex-direction: column;
        #list-card{
            background-color: $backgroundCard;
            padding: 2em 0;
        }
        article{
            background-color: rgba(252, 244, 234, 0.4);
            margin: 2em auto;
            width: 50%;
            text-align: center;
            display: grid;
            grid-template-rows: 3fr 1fr 1fr;
            box-shadow: 0 0 5px $primary-dark ;
            transition: 1.2s;
            border-radius: 1em;
                .card-header{
                    .dishes-img{
                        width: 7em;
                        border-radius: 50%;
                        padding-top: 1em;
                    }   
                }
                .card-body{
                    .title-card{
                        margin: 0 0 0 0.5em;
                        @include ichikaru;
                        font-size: 0.8em;
                    }
                    .price{
                        margin: 0.5em;
                        @include ichikaru;
                        font-size: 0.8em;
                    }
                }
                .card-footer{
                    margin: auto;
                }

            &:hover{
            box-shadow: 0 0 15px $primary-dark;
            }
        }
    }
}

@include responsive-desktop{
    main{
        display: grid;
        grid-template-columns: 3fr 1fr;
        
        #list-card{
            display: grid;
            grid-template-columns: 1fr 1fr;
            max-height: 100vh;
            
            overflow-y: scroll;
            overflow-x: hidden;
        }
    }
}