footer{
    position: relative;
    padding-top: 7rem;
    .logo-footer{
        width: 7rem;
        position: absolute;
        left: 29%;
        top: 0%;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    #Nav-footer{
        padding-top: 2rem;
        justify-content: center;
        align-content: center;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 2rem;
        padding-bottom: 2rem;
        #my-order, #food, #about, #contact{
            @include mondayCoffee;
            text-decoration: none;
            font-size: 30px;
            font-style: none;
            color: black;
        }
    }
    .Newsletter{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 20px;
        #title-news{
            @include ichikaru;
            text-align: center;
            padding-bottom: 5px;
            font-size: 18px;
            border-bottom: 1px solid black;
        }
        .news-content{
        margin: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        display: flex;
        justify-content: center;
        gap: 10px;
        }
        .container-media-footer{
            padding-top: 1rem;
            margin: 1rem;
            display: inline-flex;
            justify-content: space-around;
        }
        .instagram, .facebook, .takeaway, .ubereats{
            width: 25px;
        }
        #copyright{
            padding-top: 1rem;
            text-align: center;
            margin: 1rem;
        }
    }
}

@include responsive-desktop{
    footer{
        .logo-footer{
            width: 50%;
            left: 25%;
        }
        #Nav-footer{
            margin: 1rem;
            flex-direction: row;
            justify-content: space-around;

        }
        .container-media-footer{
            width: 20%;
            position: relative;
            left: 72%;
            .instagram, .facebook, .takeaway, .ubereats{
                width: 50%;
            }
        }
        #copyright{
            padding-bottom: 1rem;
            text-align: center;
        }
    }
}

.dark-mode {
    background-color: darkslategray;
    color: white
}







