@import '../components/header/navbar';

header{
    padding: 30px;
    background-image: url("../img/header/background-header.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .logo-header{
        position: absolute;
        width: 12em;
    }
    .burger-menu{
        position: absolute;
        right: 4%;
        top: 30px;
    }
    h1{
        font-size: 35px;
        font-weight: bold;
        margin: 1.6em 15%;
        color: $primary-white;
        font-family: $font-name;

    }
    p{
        margin: 1em 5%;
        color: $primary-white;
        font-family: $font-text;

    }
}