@import '../components/header/navbar';

header{
    padding: 30px;
    background-image: url("../img/header/background-header.webp");
    h1{
        font-size: 25px;
        margin: 30px 0;
    }
    p{

    }
}