@import '../components/header/navbar';

header{
    padding: 30px;
    background-image: url("./assets/img/header/pexels-ryutaro-tsukata-6249501.jpg");
    h1{
        font-size: 35px;
        font-weight: bold;
        margin: 30px 0;

    }
    p{
        margin: 1em 0;
    }
}