body.dark-mode{
    background-color: black !important;
    color: white !important; 
    border-color: white !important;
}
.dark-mode footer {
    background-color: black !important;
    color: white !important; 
}
.dark-mode .menuFooter{
    background-color: black !important;
    color: white !important; 
}
