body.dark-mode{
    background-color: $darkMode-dark  !important;
    color: $primary-white !important; 
}
.dark-mode footer {
    background-color: $darkMode-dark   !important;
    color: $primary-white !important; 
}
.dark-mode .menuFooter{
    background-color: $darkMode-dark  !important;
    color: $primary-white !important; 
}
