
:root{
    --clr-light: #070a13;
    --clr-dark: #f1f5f9;
}

.dark-mode {
    --clr-light: #070a13;
    --clr-dark: #f1f5f9;
}

body {
    background-color: var(--clr-light);
    color: var(--clr-dark);
}