main{
    #shopping{
        padding: 2em 10%;
        background-color: $backgroundShop;
        color: rgb(148, 0, 0);
        @include ichikaru;
        .shopping-list{
            h3{
                text-align: center;
                color: $primary-white;
                font-weight: bold;
                margin-bottom: 1em;
            }
            #list-shop{
                
                li{
                    margin: 0.5em 0;
                    display: flex;
                    justify-content: space-between;
                }
            }          
        }
        .shopping-total{
            margin-top: 2em;
            text-align: center;
            h3{
                color: $primary-white;
                margin-bottom: 1em;
                font-weight: bold;
            }

        }
    }
}

@include responsive-desktop{
    #shopping{
        padding: 30px 10%;
        max-height: 100vh;
        overflow-y: scroll;

    }
}