header{
    nav{
        text-align: center;
        
        a{
            text-decoration: none;
            margin: 1.5%;
            color: $primary-white;
            font-size: 0.8em;
        }
    }
}